:root {
  --primary-color: #142d4c;
  --secondary-color: #9fd3c7;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-color);
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.btn-branding {
  background-color: var(--primary-color);
  font-family: var(--default-font-family);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-family: var(--default-font-family);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-desciption {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}
